body {
	margin: 0;
	padding: 0;
}
ul,li {
	padding: 0;
	margin: 0;
}
.container {
	margin: 100px;
	width: 500px;
}
.tab {
	list-style: none;
	/*overflow: hidden;*/
	zoom: 1;
}
.tab:after {
	display: block;
	clear: both;
	content: '';
	height: 0;
	visibility: hidden;
}
.tab li {
	float: left;
	border-bottom: 1px solid #ccc;
}
.tab li.active {
	border-bottom: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.tab li a {
	display: inline-block;
	text-decoration: none;
	color: #333;
	padding: 20px;
}
.tab-content {
	line-height: 1.6;
	margin: 20px;
	display: none;
}